<?xml version="1.0"?>
<config>
    <modules>
        <ZsoltNet_LedgerInvoice>
            <version>0.9.7</version>
        </ZsoltNet_LedgerInvoice>
    </modules>
    <admin>
        <routers>
            <ledgerinvoice>
                <use>admin</use>
                <args>
                    <module>ZsoltNet_LedgerInvoice</module>
                    <frontName>ledgerinvoice</frontName>
                </args>
            </ledgerinvoice>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <ledgerinvoice>
                        <type>singleton</type>
                        <class>ledgerinvoice/observer</class>
                        <method>addMassActionAddLedgerImport</method>
                    </ledgerinvoice>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <translate>
            <modules>
                <ZsoltNet_LedgerInvoice>
                    <files>
                        <default>ZsoltNet_LedgerInvoice.csv</default>
                    </files>
                </ZsoltNet_LedgerInvoice>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ledgerinvoicemodule>
                                            <title>ZsoltNet Extension</title>
                                        </ledgerinvoicemodule>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <helpers>
            <zsoltnet_ledgerinvoice>
                <class>ZsoltNet_LedgerInvoice_Helper</class>
            </zsoltnet_ledgerinvoice>
        </helpers>
        <models>
            <ledgerinvoice>
                <class>ZsoltNet_LedgerInvoice_Model</class>
            </ledgerinvoice>
            <sales_mysql4>
                <rewrite>
                    <order_invoice>ZsoltNet_LedgerInvoice_Model_Mysql4_Order_Invoice</order_invoice>
                </rewrite>
            </sales_mysql4>
        </models>
    </global>
    <default>
        <ledgerinvoicemodule>
            <ledgerinvoice>
                <magorderidpre>100000000</magorderidpre>
                <regcustomeridprenumber>100000</regcustomeridprenumber>
                <guestcustomeridprenumber>500000</guestcustomeridprenumber>
                <shippingcode>000001</shippingcode>
                <codcode>000002</codcode>
                <inpersoncode>000003</inpersoncode>
                <discountcode>000000</discountcode>
                <bpiocode>000005</bpiocode>
                <inpersonshippingmethod>flatrate_flatrate</inpersonshippingmethod>
                <codmethod>phoenix_cashondelivery</codmethod>
                <tax_5>4672</tax_5>
                <tax_18>4674</tax_18>
                <tax_25>4671</tax_25>
                <tax_27>4675</tax_27>
                <tax_mentes>4673</tax_mentes>
                <taximport>5,25,27</taximport>
                <taximport4service>27</taximport4service>
                <coddue>6</coddue>
                <codtrans>0</codtrans>
                <enableimport>0</enableimport>
                <enableimport4service>0</enableimport4service>
                <importregistered>1</importregistered>
                <importEmail>disable</importEmail>
                <importPhone>disable</importPhone>
                <charset>iso-8859-2</charset>
                <tmpdir>/tmp/invoices</tmpdir>
                <debug>disable</debug>
                <context>/ledger/</context>
                <useragent>Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.3a) Gecko/20021207</useragent>
                <bankcard>paypal_standard</bankcard>
                <dbhost>localhost</dbhost>
                <dbhost>5432</dbhost>
            </ledgerinvoice>
        </ledgerinvoicemodule>
    </default>
</config>
